
h1 {
  color:darkred;
  font-size:26px; /* 20pt 字體大小*/
  text-align: center;
  border-bottom: 4px double ;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
h2 {
  color:darkblue;
  font-size:24px; /* 18pt 字體大小*/
  text-align: center;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
h3 {
  color:darkgreen;
  font-size:22px; /* 16pt 字體大小*/
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
h4 {
  color:darkmagenta;
  font-size:19px; /* 14pt 字體大小*/
  text-indent: 10px;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
h5 {
  color:darkorange;
  font-size:16px; /* 12pt 字體大小*/
  text-indent: 20px;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
h6 {
  color:;
  font-size:16px; /* 12pt 字體大小*/
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}

th {
  border: 1.5px solid;
  border-bottom: 4px double;
  border-color: black !important;
  color: black;
  font-weight: 800;
  padding: 5px 5px;
}

td {
  border-color: darkslategray;
  border-color: black !important;
  color: black;
  border: 1.5px solid;
  padding: 3px 5px;
}
ruby {
  display: inline-flex;
  flex-direction: column-reverse ;
  align-items: center;
  font-size: 16px ; /* 12pt 字體大小*/
  line-height: 17px ;
  padding-bottom: 16px ;
  font-family: "SBL BibLit", "Times New Roman", serif;
}
ruby strong {
  color: red;
  font-weight: bolder;
}
ruby em {
  color: blue;
font-weight: bolder;
}

rt {
    font-size: 13px ; /* 10pt 字體大小*/
    line-height: 13px ;
    font-family: "Arial Narrow","新細明體", serif;
}

ul ruby {
    padding-bottom: 3px !important;
}

code {
    color: #c7254e;
    font-weight: 800;
    background-color: lightgrey;
    border-radius: 4px;
    padding: 1px 4px;
}
mark {
  background-color:yellow;
  padding: 1px 1px;
}
body{
  font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
  background-color: white;
  color:black;
  font-size: 16px;
}


ul ul { position: relative; }
ul ul::before {
 content:'';
 border-left: 1px solid grey;
 position: absolute;
}
ul ul::before { left: -11px; top: 0; bottom: 0; 
} 
