<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

{% if site.description %}
<meta name="description" content="{{ site.description }}">
{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">

{% if site.ga_tracking != nil %}
<script async src="https://googletagmanager.com{{ site.ga_tracking }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.ga_tracking }}');
</script>
{% endif %}

<!-- 這裡直接手動塞入它要的自訂內容，不使用 {% include %} 語法，徹底避開 Bug -->
<meta name="viewport" content="width=device-width, initial-scale=1">
