---
---

@import "{{ site.theme }}";
ruby {
    display: inline-flex;
    flex-direction: column-reverse ;
    align-items: center;
    font-size: 16px ; 
    line-height: 16px ;
    padding-bottom: 10px ;
    font-family: 'EB Garamond', 'Noto Sans TC', serif;
  }
  rt {
    font-size: 13px ; 
    line-height: 13px ;
    font-family: 'Ubuntu Condensed', 'Noto Sans TC', sans-serif;
  }
  ul ruby {
    padding-bottom: 3px !important;
  }
  h1 {
    color: #C00000;
    text-align: center;
    border-bottom: 4px double ;
  }
  h2 {
    text-align: center;
  }
  ruby strong {
    color: red;
  }
  ruby em {
    color: blue;
  }

  p, html, body {
    font-family: 'Gentium Book Plus', 'Noto Sans TC',  sans-serif;
    color: black;
  }

  li::maker {
    color: darkorange;
    content: '▶';
  }

  section {
    width: 700px;
  } 

  section.footnotes {
    width: 90%;
    margin-top: 30px;
  }
  
  th {
    border-bottom: 4px double;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    font-weight: 800;
  }

  td {
    border: 1px solid;
  }

  /* text decoration for marking syntax functions */
.S {text-decoration: underline double; text-underline-offset: 4px; }
.P {text-decoration: underline wavy; text-underline-offset: 4px; }
.C {text-decoration: underline solid; text-underline-offset: 4px; }
.A {text-decoration: underline dotted; text-underline-offset: 4px; }
