---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+Hebrew:wght@100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 設定字型 */

html, body, p, li {
    font-family: sans-serif, "Gentium Book Plus", "Noto Serif Hebrew";
    color: black;
  }

  h1 {
    color: #C00000;
    text-align: center;
    border-bottom: 4px double ;
  }

  h2 {
    text-align: center;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 10px;
    color:black;
  }

  ul   {
    margin-bottom: 0em;
  }

  ruby {
    font-family: "Saira ExtraCondensed Light", "Gentium Book Plus", "Noto Serif Hebrew";
    font-size: 1em ; 
    line-height:4.5em;
    ruby-align:start;
    padding: 0 0.1em 0 0px;
  }
  
  rt {
    font-size: 0.75em ; 
  }
  
  li ruby {
    line-height:3em;
  } 

  /* page layout */
  
  header {
    padding: 20px 20px 5px 20px;
  }

  section {
    margin-top: 100px;
    padding-top:20px;
  }

  ul li::marker {
    content: '• ';
  }

  nav {
    ul li::marker {
      content: none;
    }
  }

  section.footnotes {
    width: 90%;
    margin-top: 30px;
  }

  /* table */
  table {
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    border-bottom: 4px double;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    font-weight: 800;
    border-color: black;
  }
  td {
    border: 1px solid;
    border-color: black;
  }
  td:first-child {
    border-left: 1px solid;
  }

  /* offset anchor tag link */
  
:target {
    padding-top: 115px;
    margin-top: -115px;
}

  /* text decoration for marking syntax functions */
  mark {
    &.poetry::before {content:'\a                 '; white-space: pre;}
    &.poetry {background-color: transparent;}
    &.paragraph::after {background-color: transparent; content:'\a\a'; white-space: pre;}
    &.punctuation {background-color: transparent; font-weight:bolder;}
  
    &.verb {background-color: transparent; text-decoration: underline double; text-underline-offset: 5px;}
    &.ptc {background-color: transparent; text-decoration: underline solid; text-underline-offset: 5px;}
    &.inf {background-color: transparent; text-decoration: underline dotted; text-underline-offset: 5px;}
  }


/* BULLET POINT RELATIONSHIP LINES */
ul ul { position: relative; }
ul ul::before {
 content:'';
 border-left: 1px solid grey ;
 position: absolute;
}
ul ul::before { left: -7px; top: 0; bottom: 0; 
} 


/*Functional Styling*/
@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;

  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 110%;
    color: #000;
    background-color: lightgreen;
    border: 2px solid;
    width: fit-content;
    padding: 3px;
    font-size: 12px;
    z-index:1;
  }
}