@font-face {
  font-family: AndleyFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Gentium Book Plus");
  }
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("Ezra SIL");
  }

/* 標題 */
h1, h3, h5 {
  text-align: center;
}

h2, h4, h6 {
}

html, body, p, li {
  font-family: AndleyFont, "Noto Sans", "Noto Sans TC";
  color: var(--text-color);
}

p {
  text-indent: 2em;
}

/* <span> Interlinear */
    .interlinear {
      display: flex;
      flex-wrap: wrap;        /* Enable wrapping */
      align-items:last baseline; 
      gap:5px; /* Align items to bottom */
    }
    .w {
      display: flex;
      flex-direction: column;
      align-items:center;
      white-space: nowrap;       /* Prevent wrapping inside each column */
    }
    .m, .g{
      font-family:  "Noto Sans ExtraCondensed";
      font-size: 11pt;
      line-height:11pt;
    }
    .l {
      font-family: "Gentium Book Plus";
      font-size: 11pt;
      line-height:13pt;
      }
    .t {
      font-family: "Gentium Book Plus"; 
      font-weight: bold;
      font-size: 13pt;
      line-height:13pt;
      padding-bottom: 13pt;
    }

/*   <ruby> Interlinear */
ruby {
  font-size: 13pt ; 
  ruby-align:start;
  font-weight: bold;
  padding: 0 0.1em 0 0;
  font-family:  AndleyFont;
  line-height:5em;
}

rt {
  font-size: 11pt ; 
  font-weight:normal;
  padding: 0 0.1em 0 0;
  font-family: AndleyFont, "Noto Sans ExtraCondensed", "未來熒黑" ;
} 

li ruby {
  line-height:5em;
} 

/*
ruby {
	display: inline-flex;
	flex-direction: column-reverse ;
	align-items: center;
	font-size: 1em ; 
  line-height:1em;
	font-family: "Gentium Book Plus";
  padding: 0 0.1em 0.2em 0;
  }

  rt {
	  font-size: 0.8em;
	  line-height: 1em;
	  font-family: "Arial Narrow", "Gentium Book Plus", "Noto Sans TC";
    padding:0 0.1em 0 0.1em;
  }
*/

strong {
  font-weight:800;
}
em {
  font-weight: 600;
}


a {text-decoration: none; color: var(--text-faint); }


/* table */
.markdown-preview-view table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  color: var(--text-color);
} 

.markdown-preview-view th {
  border-bottom: 3px double;
}

.markdown-preview-view tr:nth-child(even) {
      background-color: var(--background-secondary);
}

/* --------------------------------------------   */

/* text decoration for marking syntax functions */
  mark {
  &.poetry::before {content:'\a                 '; white-space: pre;}
  &.poetry {background-color: transparent;}
	&.paragraph::after {content:'\a          '; white-space: pre;}
  &.paragraph {background-color: transparent;}
	&.punctuation {background-color: transparent; font-weight:bolder;}
  /* ———————— */
	&.verb {background-color: transparent; text-decoration: underline double; text-underline-offset: 5px;color:var(--text-normal);}
	&.ptc {background-color: transparent; text-decoration: underline solid; text-underline-offset: 5px;color:var(--text-normal);}
	&.inf {background-color: transparent; text-decoration: underline dotted; text-underline-offset: 5px;color:var(--text-normal);}
  */

/*  &.verb {background-color: lightpink}
	&.ptc {background-color: lightgreen; }
	&.inf {background-color: lightcyan; } */
  
/*  &.verb {background-color: transparent; color: red;}
	&.ptc {background-color: transparent; color: blue;}
	&.inf {background-color: transparent; color: green;}
  ———— */
}




/* ============= Obsidian 介面 ================== */
.theme-dark {
  --text-tag: #4f8dc2;
  --text-faint:lightgreen;
  --text-color: #ffffff;
  --divider-color: greenyellow;
  --text-muted: #E6E6E6;
  --color1:#ea4335;
  --color2:#4285f4;
  --color3:#34a853;
  --color4:#ff8a00;
  --color-strong: greenyellow;
  --color-em:gold;
  --text-accent:lightgreen;
  --control-character-color: silver;
  --collapse-icon-color-collapsed: lightgreen;
  --color-base-40: silver;
  --font-text: AndleyFont, "Noto Sans";
  --table-cell-vertical-alignment: middle;
  --table-border-color: silver;
  }

.theme-light {
  --text-tag: darkblue;
  --text-faint:darkred;
  --text-color:#000000;
  --ribbon-color :rgb(223, 219, 219);
  --text-normal:black;
  --background-primary: white;
  --color1:darkred;
  --color2:darkblue;
  --color3:darkgreen;
  --color4:darkorange;
  --color-strong: red;
  --color-em:blue;
  --link-color:rgb(128, 136, 240);
  --link-external-color:rgb(128, 136, 240);
  --color-base-40: darkblue;
  --font-text: AndleyFont, "Noto Sans";
  --table-cell-vertical-alignment: middle;
  --table-border-color: gray;
}

/* HTML tags in preview and editor */
.cm-s-obsidian span.cm-tag, .cm-s-obsidian span.cm-string, .cm-s-obsidian span.cm-attribute{
  color: var(--text-tag);
  font-size: 13px;
}

@page {
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  margin-left: 5%;
}


