/* ============= Obsidian 介面 ================== */
.theme-dark {
  --text-tag: #4f8dc2;
  --divider-color: greenyellow;
  --text-muted: #E6E6E6;
  --color1:#ea4335;
  --color2:#4285f4;
  --color3:#34a853;
  --color4:#ff8a00;
  --color-strong: greenyellow;
  --color-em:gold;
  --text-accent:lightgreen;
  --control-character-color: silver;
  --collapse-icon-color-collapsed: lightgreen;
  --font-text:'Gentium Book Plus', 'Ezra SIL', 'Noto Sans', 'Noto Sans TC';
  }

.theme-light {
  --text-tag: rgb(128, 136, 240);
  --ribbon-color :rgb(223, 219, 219);
  --text-normal:black;
  --background-primary: white;
  --color1:darkred;
  --color2:darkblue;
  --color3:darkgreen;
  --color4:darkorange;
  --color-strong: red;
  --color-em:blue;
  --link-color:rgb(128, 136, 240);
  --link-external-color:rgb(128, 136, 240);
  --font-text:'Gentium Book Plus', 'Ezra SIL', 'Noto Sans', 'Noto Sans TC';
}

.nav-file-title, .nav-folder-title {
  padding: 0 0 0 15px;
  font-family: 'Noto Sans', 'Noto Sans TC';
  }

/* BULLET POINT RELATIONSHIP LINES */
.cm-hmd-list-indent .cm-tab, ul ul { 
  position: relative; 
  }

.cm-hmd-list-indent .cm-tab::before, ul ul::before {
 content:'';
 border-left: 1px dotted grey ;
 position: absolute;
  }

ul ul::before { 
  left: -15px; top: 0; bottom: 0; 
  } 

/* HTML tags in preview and editor */
.cm-s-obsidian span.cm-tag, .cm-s-obsidian span.cm-string, .cm-s-obsidian span.cm-attribute{
  color: var(--text-tag);
  font-size: 13px;
  font-family: "Arial Narrow";
}

/* 標題 */
.cm-header-1, .markdown-preview-view h1 {
  color: var(--color1);
  font-size:26px; /* 20pt 字體大小*/
  text-align: center;
  border-bottom: 4px double ;
  margin-bottom: 26px;
}
.cm-header-2,.markdown-preview-view h2 {
  color: var(--color2);
  font-size:24px; /* 18pt 字體大小*/
  text-align: center;
  margin-bottom: 24px;
}
.cm-header-3,.markdown-preview-view h3 {
  color: var(--color3);
  font-size:22px; /* 16pt 字體大小*/
  margin-bottom: 22px;
}
.cm-header-4,.markdown-preview-view h4 {
  color: var(--color4);
  font-size:19px; /* 14pt 字體大小*/
  margin-bottom: 19px;
}
.cm-header-5,.markdown-preview-view h5 {
  color: var(--color5);
  font-size:16px; /* 12pt 字體大小*/
  margin-bottom: 16px;
}

/*   Table  */
table {
  margin-left: auto;
  margin-right: auto;
}

.markdown-rendered thead tr > th , .markdown-preview-view th {
  border: 1px solid;
  border-bottom: 4px double;
  font-weight: 800;
}

.markdown-preview-view td {
  border: 1px solid;
}

/*   Ruby Interlinear  */


ruby {
  font-size: 16px ; /* 12pt 字體大小*/
  line-height:5em;
}

rt {
  font-family: 'Arial Narrow';
  font-size: 13px ; 
  padding: 0 3px;
  text-align: center;
}


li ruby {
  line-height:3.5em;
}

li {
  line-height:1.5em;
}

strong,  .cm-strong {
    color: var(--color-strong);
    font-weight:bolder;
  }

em,  .cm-em {
    color: var(--color-em);
    font-weight:bold;
    font-style:italic;
  }

strong,  .cm-strong {
    font-weight:bolder;
  }

em,  .cm-em {
    font-weight:bold;
    font-style:italic;
  }

  /* text decoration for marking syntax functions */
  mark {
    &.pm {background: none; font-weight:bolder; font-size:x-large;}
    &.S {background: none; text-decoration: underline double; text-underline-offset: 4px;}
    &.P {background: none; text-decoration: underline wavy; text-underline-offset: 4px;}
    &.C {background: none; text-decoration: underline solid; text-underline-offset: 4px;}
    &.A {background: none; text-decoration: underline dotted; text-underline-offset: 4px;}
    &.green {background-color: lightgreen; }
    &.red {background-color: lightcoral; }
    &.blue {background-color: lightcyan; }
    &.purple {background-color: purple; }
  }
  

@media print {
    body {
      --font-text: 'Gentium Book Plus', 'Ezra SIL', 'Noto Sans', 'Noto Sans TC'  !important;
    }

    @page {
      margin: 1.5cm 1cm;
    }
}
