@font-face {
  font-family: AndleyFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Gentium Book Plus");
  }
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("Ezra SIL");
  }

h1, .HyperMD-header-1 { text-decoration-line: underline; text-decoration-style: double;}
h1, .HyperMD-header-1, h2, .HyperMD-header-2 { text-align: center; ;}

html, body, p, li {
  font-family: AndleyFont, "Noto Sans", "Noto Sans TC";
  color: var(--text-normal);
  font-size: 1em;
}

ruby {
  font-size: 1em ; 
  ruby-align:start;
  font-family:  AndleyFont;
  padding-right: 0.1em;
  line-height:5em;
}

rt {
  font-size: 0.85em ; 
  font-family: AndleyFont, "Noto Sans ExtraCondensed", "未來熒黑" ;
} 

li ruby {
  line-height: 4em;
}

li:not(:has(ruby)) {
  line-height: 1.5em;
}

a {text-decoration: none; color: var(--text-link); }

/* --------- table -----------------------------------   */
.markdown-preview-view table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  color: var(--text-color);
  font-family: AndleyFont, "Noto Sans", "Noto Sans TC";
} 

.markdown-preview-view th {
  border-bottom: 3px double;
}

.markdown-preview-view tr:nth-child(even) {
      background-color: var(--background-secondary);
}

/* --------------------------------------------   */
.verb { color: var(--color1); }
.ptc  { color: var(--color2); }
.inf  { color: var(--color3); }
.punctuation { font-weight:bolder;}
.poetry::before {content:'\a                 '; white-space: pre;}
.paragraph::after {content:'\a          '; white-space: pre;}
.tab::after {content:'    '; white-space: pre;}

/* HTML tags in preview and editor */
.cm-s-obsidian span.cm-tag, .cm-s-obsidian span.cm-string, .cm-s-obsidian span.cm-attribute{
  color: var(--text-tag);
  font-family: "Noto Sans ExtraCondensed";
  font-size:11px;
}

span.cm-hmd-frontmatter.cm-string {
  color: var(--text-muted);
  font-size: 1em;
}
/* ============= Obsidian 介面 ================== */
.theme-dark {
  --text-tag: #4f8dc2;
  --text-faint:lightgreen;
  --text-link:lightgreen;
  --divider-color: greenyellow;
  --text-muted: #E6E6E6;
  --text-normal:white;
  --background-secondary: rgb(52, 52, 52);
  --color1:#ea4335;
  --color2:#4285f4;
  --color3:#34a853;
  --color4:#ff8a00;
  --color-strong: greenyellow;
  --color-em:gold;
  --text-accent:lightgreen;
  --control-character-color: silver;
  --collapse-icon-color-collapsed: lightgreen;
  --color-base-40: silver;
  --table-cell-vertical-alignment: middle;
  --table-border-color: silver;
  }

.theme-light {
  --text-tag: darkblue;
  --text-faint:gray;
  --text-link:#09628f;
  --text-color:black;
  --ribbon-color :rgb(223, 219, 219);
  --text-normal:black;
  --background-primary: white;
  --background-secondary: rgb(230, 232, 227);
  --color1:red;
  --color2:blue;
  --color3:green;
  --color4:orange;
  --color-strong: red;
  --color-em:blue;
  --link-color:rgb(128, 136, 240);
  --link-external-color:rgb(128, 136, 240);
  --color-base-40: darkblue;
  --table-cell-vertical-alignment: middle;
  --table-border-color: gray;
}

