@font-face {
  font-family: 'AndleyFont';
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Gentium Book Plus");
  }
@font-face {
  font-family: 'AndleyFont';
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("Ezra SIL");
  }

/* 標題 */
h1 { text-decoration-line: underline; text-decoration-style: double;}
h1, h2 { text-align: center; }


/* === css for <ruby> Interlinear === */
ruby {
  font-size: 16px ; 
  ruby-align:start;
  font-family:  "Gentium Book Plus";
  line-height:80px;
}

rt {
  font-size: 13px ; 
  font-family: "Noto Sans ExtraCondensed", "未來熒黑" ;
  white-space: nowrap;
} 

li  ruby {
  line-height:65px;
}

a {text-decoration: none !important; }

.verb { color: var(--color1); }
.ptc  { color: var(--color2); }
.inf  { color: var(--color3); }
.poetry::before {content:'\a                 '; white-space: pre;}
.paragraph::after {content:'\a          '; white-space: pre;}

/* ============= Obsidian 介面 ================== */
.theme-dark {
  --text-tag: #4f8dc2;
  --text-faint:lightgreen;
  --text-link:lightgreen;
  --text-color: #ffffff;
  --divider-color: greenyellow;
  --text-muted: #E6E6E6;
  --color1:#ea4335;
  --color2:#4285f4;
  --color3:#34a853;
  --color4:#ff8a00;
  --color-strong: greenyellow;
  --color-em:gold;
  --text-accent:lightgreen;
  --control-character-color: silver;
  --collapse-icon-color-collapsed: lightgreen;
  --color-base-40: silver;
  --font-text: 'AndleyFont', "Noto Sans";
  --table-cell-vertical-alignment: middle;
  --table-border-color: silver;
  }

.theme-light {
  --text-tag: darkblue;
  --text-faint:gray;
  --text-link:#09628f;
  --text-color:black;
  --ribbon-color :rgb(223, 219, 219);
  --text-normal:black;
  --background-primary: white;
  --color1:red;
  --color2:blue;
  --color3:green;
  --color4:orange;
  --color-strong: red;
  --color-em:blue;
  --link-color:rgb(128, 136, 240);
  --link-external-color:rgb(128, 136, 240);
  --color-base-40: darkblue;
  --font-text: 'AndleyFont', "Noto Sans";
  --table-cell-vertical-alignment: middle;
  --table-border-color: gray;
}

/* HTML tags in preview and editor */
span.cm-tag, span.cm-attribute, span.cm-string {
  color: var(--text-tag);
  font-family: "Noto Sans ExtraCondensed", "未來熒黑" ;
  font-size: 0.8em;
}

span.cm-hmd-frontmatter.cm-string {
  color: var(--text-muted);
  font-size: 1em;
}
