/* ============= 設定字型 ================== */
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("SBL BibLit");
}
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("SBL BibLit");
}
@font-face {
  font-family: AndleyFont;
  unicode-range: U+00-024F; /* English UNICODE */
  src: local("Noto Sans");
}
@font-face {
  font-family: AndleyFont;
  unicode-range: U+4E00-9FFF; /* 中文 UNICODE */
  src: local("Noto Sans CJK TC");
}

@font-face {
  font-family: InterlinearFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Arial Narrow");
}
@font-face {
  font-family: InterlinearFont;
  unicode-range: U+00-024F; /* English UNICODE */
  src: local("Arial Narrow");
}
@font-face {
  font-family: InterlinearFont;
  unicode-range: U+4E00-9FFF; /* 中文 UNICODE */
  src: local("Noto Sans CJK TC");
}


/* ============= 銀幕顯示 設定 ============= */
/* Obsidian 介面 */
.theme-dark {
  --text-faint: gold;
}

/* 標題顏色 */
.titlebar-inner {
  color: var(--text-faint);
}


/***************************************/
/*           Ruby Interlinear          */
/***************************************/
  /* -------- 銀幕 Interlinear 經文段落---------- */
  ruby {
    display: inline-flex;
    flex-direction: column-reverse ;
    align-items: center;
    font-size: 19px ; 
    line-height: 18px ;
    padding-bottom: 10px ;
    font-family: AndleyFont;
  }
  rt {
    font-size: 16px ; 
    line-height: 15px ;
    font-family: InterlinearFont;
  }

  ul ruby {
    font-size: 16px ; /* 12pt 字體大小*/
    line-height: 14px ;
    padding-bottom: 3px ;
  }
  ul rt {
    font-size: 13px ; /* 10pt 字體大小*/
    line-height: 12px ;
  }

  html, body {
    font-family: AndleyFont;
  }