/* ============= 設定字型 ================== */
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("SBL BibLit");
}
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("SBL BibLit");
}
@font-face {
  font-family: AndleyFont;
  unicode-range: U+00-024F; /* English UNICODE */
  src: local("Noto Sans");
}
@font-face {
  font-family: AndleyFont;
  unicode-range: U+4E00-9FFF; /* 中文 UNICODE */
  src: local("Noto Sans CJK TC");
}

@font-face {
  font-family: InterlinearFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Arial Narrow");
}
@font-face {
  font-family: InterlinearFont;
  unicode-range: U+00-024F; /* English UNICODE */
  src: local("Arial Narrow");
}
@font-face {
  font-family: InterlinearFont;
  unicode-range: U+4E00-9FFF; /* 中文 UNICODE */
  src: local("Noto Sans CJK TC");
}

/* ============= 列印 PDF 設定 ============= */
@media print {
  /* -------- 列印強調 ---------- */
  a, strong, em {
    color: black !important;
  }

  /* -------- 列印 Interlinear 經文段落---------- */
  ruby {
    font-size: 19px !important; /* 14pt 字體大小*/
    line-height: 19px !important;
    padding-bottom: 10px !important;
  }
  rt {
    font-size: 16px !important; /* 12pt 字體大小*/
    line-height: 16px !important;
  }

  /* -------- 列印 Interlinear 圖析 ---------- */
  ul ruby {
    font-size: 16px !important; /* 12pt 字體大小*/
    line-height: 14px !important;
    padding-bottom: 3px !important;
  }
  ul rt {
    font-size: 13px !important; /* 10pt 字體大小*/
    line-height: 12px !important;
  }

  /* -------- 列印其他文字 ---------- */
  html, body {
    background-color: white !important;
    color: black !important;
    font-size: 16px !important; /* 12pt 字體大小*/
  }
}

/* ============= 銀幕顯示 設定 ============= */
/* Obsidian 介面 */
.theme-dark {
  --text-tag: #778899;
  --text-muted: #D3D3D3;
  --text-faint: gold;
  --text-accent: greenyellow;
  --color1:#ea4335;
  --color2:#4285f4;
  --color3:#34a853;
  --color4:#ff8a00;
}
.theme-light {
  --text-tag: rgb(128, 136, 240);
  --text-normal:black;
  --text-selection: #ffe23d48;
  --background-primary: white;
  --color1:darkred;
  --color2:darkblue;
  --color3:darkgreen;
  --color4:darkmagenta;
}
/* highlight active line */
.workspace-leaf.mod-active .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: black;
  }

/* 標題顏色 */
.titlebar-inner {
  color: var(--text-faint);
  width: 100%;
}

.workspace-leaf.mod-active .view-header-title {
  color: var(--text-accent);
}

/* 粗體、斜體 in preview and editor */
.cm-strong, .markdown-preview-view strong {
  font-weight: bolder;
  color: var(--text-accent);
}
.cm-em, .markdown-preview-view em {
  color: var(--text-accent);
}

/* tags in preview and editor */
.cm-s-obsidian span.cm-tag {
  color: var(--text-tag);
}

/* 標題 */
.cm-header-1, .markdown-preview-view h1 {
  color: var(--color1);
  font-size:26px; /* 20pt 字體大小*/
  text-align: center;
  border-bottom: 4px double ;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
.cm-header-2,.markdown-preview-view h2 {
  color: var(--color2);
  font-size:24px; /* 18pt 字體大小*/
  text-align: center;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
.cm-header-3,.markdown-preview-view h3 {
  color: var(--color3);
  font-size:22px; /* 16pt 字體大小*/
  text-indent: -30px;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
.cm-header-4,.markdown-preview-view h4 {
  color: var(--color4);
  font-size:19px; /* 14pt 字體大小*/
  text-indent: -20px;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
.cm-header-5,.markdown-preview-view h5 {
  color: var(--color5);
  font-size:16px; /* 12pt 字體大小*/
  text-indent: -10px;
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}
.cm-header-6,.markdown-preview-view h6 {
  color: var(--color6);
  font-size:16px; /* 12pt 字體大小*/
  font-family: "Noto Sans Black", "Noto Sans CJK TC Black";
}

/***************************************/
/*                 Table               */
/***************************************/
.markdown-preview-view th {
  border: 1px solid;
  border-bottom: 4px double;
  font-weight: 800;
  padding: 3px 5px;
}

.markdown-preview-view td {
  border: 1px solid;
  padding: 3px 5px;
}


/***************************************/
/*           Ruby Interlinear          */
/***************************************/
  /* -------- 銀幕 Interlinear 經文段落---------- */
  ruby {
    display: inline-flex;
    flex-direction: column-reverse ;
    align-items: center;
    font-size: 19px ; 
    line-height: 18px ;
    padding-bottom: 10px ;
    font-family: AndleyFont;
  }
  rt {
    font-size: 16px ; 
    line-height: 15px ;
    font-family: InterlinearFont;
  }

  ul ruby {
    font-size: 16px ; /* 12pt 字體大小*/
    line-height: 14px ;
    padding-bottom: 3px ;
  }
  ul rt {
    font-size: 13px ; /* 10pt 字體大小*/
    line-height: 12px ;
  }

html, body {
  font-family: AndleyFont;
  font-size: 15px;
}


/*=== trace indentation lines by death_au === */

.cm-hmd-list-indent .cm-tab,
ul ul {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before {
  content: "";
  border-left: 1px solid  var(--text-tag);
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 0;
  top: -5px;
  bottom: -4px;
}

ul ul::before {
  left: -15px;
  top: 0;
  bottom: 0;
}