@font-face {
  font-family: AndleyFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Gentium Book Plus");
  }
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("Ezra SIL");
  }

/* 標題 */
h1, .HyperMD-header-1 { text-decoration-line: underline; text-decoration-style: double;}
h1, .HyperMD-header-1, h2, .HyperMD-header-2 { text-align: center; ;}
h3, h4, h5, h6 { text-align: left; }
h3, .HyperMD-header-3 {  text-indent: -1em; }
h4, .HyperMD-header-4 {  text-indent: -0.5em; }
h5, .HyperMD-header-5 {  text-indent: 0em; }
h6, .HyperMD-header-6 {  text-indent: 0.5em; }


html, body, p, li {
  font-family: AndleyFont, "Noto Sans", "Noto Sans TC";
  color: var(--text-color);
}

/* === css for <ruby> Interlinear === */
ruby {
  font-size: 16px ; 
  ruby-align:start;
  padding: 0 2px 0 0;
  font-family:  AndleyFont, "Noto Sans ExtraCondensed", "未來熒黑";
  line-height:80px;
}

rt {
  font-size: 13px ; 
  font-weight:normal;
  padding: 0 2px 0 0;
  font-family: AndleyFont, "Noto Sans ExtraCondensed", "未來熒黑" ;
  white-space: nowrap;
} 

li ruby {
  line-height:70px;
} 

/* === css for <span> interlinear === */
/* Container for each word */
.w {
  display: inline-grid;
  grid-template-rows: auto auto auto auto;
  margin: 0 0.2em;
  font-family: AndleyFont, "Noto Sans ExtraCondensed", "未來熒黑";
}
/* surface text */
.w .t {
  font-size: 1.2em;
  line-height:1.5em;
}
/* gloss */
.w .g {
  font-size: 0.85em;
  line-height:1em;
}
/* morphology */
.w .m {
  font-size: 0.85em;
  line-height:1em;
}
/* lemma and link */
.w .l {
  font-size: 1em;
  line-height:1em;
  margin-bottom: 1em;
}

a {text-decoration: none; color: var(--text-link); }

/* table */
.markdown-preview-view table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  color: var(--text-color);
  font-family: AndleyFont, "Noto Sans", "Noto Sans TC";
} 

.markdown-preview-view th {
  border-bottom: 3px double;
}

.markdown-preview-view tr:nth-child(even) {
      background-color: var(--background-secondary);
}

/* --------------------------------------------   */
.verb { color: var(--color1); }
.ptc  { color: var(--color2); }
.inf  { color: var(--color3); }
.punctuation { font-weight:bolder;}
.poetry::before {content:'\a                 '; white-space: pre;}
.paragraph::after {content:'\a          '; white-space: pre;}
.tab::after {content:'           '; white-space: pre;}
/* --------------------------------------------   */



/* ============= Obsidian 介面 ================== */
.theme-dark {
  --text-tag: #4f8dc2;
  --text-faint:lightgreen;
  --text-link:lightgreen;
  --text-color: #ffffff;
  --divider-color: greenyellow;
  --text-muted: #E6E6E6;
  --color1:#ea4335;
  --color2:#4285f4;
  --color3:#34a853;
  --color4:#ff8a00;
  --color-strong: greenyellow;
  --color-em:gold;
  --text-accent:lightgreen;
  --control-character-color: silver;
  --collapse-icon-color-collapsed: lightgreen;
  --color-base-40: silver;
  --font-text: AndleyFont, "Noto Sans";
  --table-cell-vertical-alignment: middle;
  --table-border-color: silver;
  }

.theme-light {
  --text-tag: darkblue;
  --text-faint:gray;
  --text-link:#09628f;
  --text-color:#000000;
  --ribbon-color :rgb(223, 219, 219);
  --text-normal:black;
  --background-primary: white;
  --color1:red;
  --color2:blue;
  --color3:green;
  --color4:orange;
  --color-strong: red;
  --color-em:blue;
  --link-color:rgb(128, 136, 240);
  --link-external-color:rgb(128, 136, 240);
  --color-base-40: darkblue;
  --font-text: AndleyFont, "Noto Sans";
  --table-cell-vertical-alignment: middle;
  --table-border-color: gray;
}

/* HTML tags in preview and editor */
.cm-s-obsidian span.cm-tag, .cm-s-obsidian span.cm-string, .cm-s-obsidian span.cm-attribute{
  color: var(--text-tag);
  font-family: "Noto Sans ExtraCondensed";
  font-size: 11px;
}






