/* ============= 列印 PDF 設定 ============= */
@media print {
  /* -------- 列印強調 ---------- */
  h1, h2, h3, h4, h5, h6 {
    color: black !important;
  }
  a {
    color: green !important;
  }
  strong {
    color: red !important;
  }
  em {
    color: blue !important;
  }
}
