@font-face {
  font-family: AndleyFont;
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Gentium Book Plus");
  }
@font-face {
  font-family: AndleyFont;
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("Ezra SIL");
  }

  /* 標題 */
h1, .HyperMD-header-1 { text-decoration-line: underline; text-decoration-style: double;}
h1, .HyperMD-header-1, h2, .HyperMD-header-2 { text-align: center; ;}
h3, h4, h5, h6 { text-align: left; }
h3, .HyperMD-header-3 {  text-indent: -1em; }
h4, .HyperMD-header-4 {  text-indent: -0.5em; }
h5, .HyperMD-header-5 {  text-indent: 0em; }
h6, .HyperMD-header-6 {  text-indent: 0.5em; }

/* Container for each word */
.w {
  display: inline-grid;
  grid-template-rows: auto auto auto auto;
  margin: 0 0.2em;
  font-family: AndleyFont, "Noto Sans ExtraCondensed", "未來熒黑";
}
/* surface text */
.w .t {
  font-size: 1.2em;
  line-height:1.5em;
}
/* gloss */
.w .g {
  font-size: 0.85em;
  line-height:1em;
}
/* morphology */
.w .m {
  font-size: 0.85em;
  line-height:1em;
}
/* lemma and link */
.w .l {
  font-size: 1em;
  line-height:1em;
  margin-bottom: 1em;
}

/* --------------------------------------------   */
.verb { color: red; }
.ptc  { color: blue; }
.inf  { color: green; }
.punctuation { font-weight:bold;}



/* HTML tags in preview and editor */
.cm-active.cm-line {
  font-family: AndleyFont, "Noto Sans ExtraCondensed", "未來熒黑";;
}
.cm-s-obsidian span.cm-tag, .cm-s-obsidian span.cm-string, .cm-s-obsidian span.cm-attribute{
  color:#4f8dc2;
  font-family: "Noto Sans ExtraCondensed";
  font-size: 0.8em;
}
