    .interlinear {
      display: flex;
      flex-wrap: wrap;        /* Enable wrapping */
      align-items: flex-end;  /* Align items to bottom */
      gap: 5px;
    }
    .w {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap;       /* Prevent wrapping inside each column */
    }
    .m {
      font-size:10pt; 
      line-height:10pt; 
      font-family:  "Noto Sans ExtraCondensed";
    }
    .l {
      font-size:11pt; 
      line-height:11pt; 
      font-family: "gentium book plus";
    }
    .g {
      font-size:10pt; 
      line-height:10pt; 
      font-family:  "Noto Sans ExtraCondensed";
    }
    .t {
      font-size: 13pt;
      line-height:13pt;
      font-family: "gentium book plus"; 
      font-weight: bold;
      margin-bottom: 4px;
    }

    